{% assign sorted_posts = site.posts | where_exp: "post", "post.categories contains page.categories[0]" | sort: "subcategory" | sort: "page" %}

{% for _post in sorted_posts %}
  {% if _post.url == page.url %}
    {% assign current_index = forloop.index0 %}
    {% assign previous_index = current_index | minus: 1 %}
    {% assign next_index = current_index | plus: 1 %}
    {% break %}
  {% endif %}
{% endfor %}

{% if previous_index > -1%}
  {% assign previous_post = sorted_posts[previous_index] %}
{% endif %}

{% if sorted_posts | size < current_index %}
  {% assign next_post = sorted_posts[next_index] %}
{% endif %}

<div class="post-navigation d-flex justify-content-between">
  {% if previous_post %}
    <a
      href="{{ site.baseurl }}{{ previous_post.url }}"
      class="btn btn-outline-primary"
      prompt="{{ site.data.locales[include.lang].post.button.previous }}"
    >
      <p>{{ previous_post.title }}</p>
    </a>
  {% else %}
    <div></div>
  {% endif %}

  {% if next_post %}
    <a
      href="{{ site.baseurl }}{{ next_post.url }}"
      class="btn btn-outline-primary"
      prompt="{{ site.data.locales[include.lang].post.button.next }}"
    >
      <p>{{ next_post.title }}</p>
    </a>
  {% endif %}
</div>
