---
layout: page
# All the Categories of posts
---

{% include lang.html %}

{% assign HEAD_PREFIX = 'h_' %}
{% assign LIST_PREFIX = 'l_' %}

{% assign group_index = 0 %}

{% assign posts_of_language = site.posts | where: "language", page.language %}
{% assign sub_categories = '' | split: '' %}

{% for post in posts_of_language %}
  {% assign category = post.categories[0] %}
  {% if category %}
    {% unless sub_categories contains category %}
      {% assign sub_categories = sub_categories | push: category %}
    {% endunless %}
  {% endif %}
{% endfor %}

{% assign sub_categories = sub_categories | sort %}
{% assign sub_categories_size = sub_categories | size %}

<div class="card categories">
  <!-- categories -->
  <ul class="list-unstyled mb-0">
    {% for sub_category in sub_categories %}
      <div
        id="{{ HEAD_PREFIX }}{{ group_index }}"
        class="card-header d-flex justify-content-between hide-border-bottom"
      >
        <span>
          <i class="far fa-folder-open fa-fw"></i>
          {% capture _sub_ctg_url %}/{{ sub_category | slugify | url_encode }}/{% endcapture %}
          <a href="{{ _sub_ctg_url | relative_url }}" class="ml-1 mr-2">{{ sub_category }}</a>
        </span>
      </div>
      <!-- posts of category -->
      <ul>
        <div class="card-body">
          {% assign posts_of_subcategory = posts_of_language | where_exp: "post", "post.categories[0] == sub_category" | sort: "page" %}
          {% for post in posts_of_subcategory %}
            <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
          {% endfor %}
        </div>
      </ul>
    {% endfor %}
  </ul>
</div>
