---
layout: page
# The Category layout
---

{% include lang.html %}

{% assign HEAD_PREFIX = 'h_' %}
{% assign LIST_PREFIX = 'l_' %}

{% assign group_index = 0 %}

{% assign posts_of_category = site.categories[page.category] %}
{% assign sub_categories = '' | split: '' %}

{% for post in posts_of_category %}
  {% assign second_category = post.categories[1] %}
  {% if second_category %}
    {% unless sub_categories contains second_category %}
      {% assign sub_categories = sub_categories | push: second_category %}
    {% endunless %}
  {% endif %}
{% endfor %}

{% assign sub_categories = sub_categories | sort %}
{% assign sub_categories_size = sub_categories | size %}

<div class="card categories">
  <!-- top-category -->
  <div
    id="{{ HEAD_PREFIX }}{{ group_index }}"
    class="card-header d-flex justify-content-between hide-border-bottom"
  >
    <span>
      <i class="far fa-folder-open fa-fw"></i>
      {{ page.category }}
    </span>
  </div>

  <!-- sub-categories -->
  <div class="card-body">
    <ul class="list-unstyled mb-0">
      {% for sub_category in sub_categories %}
        {% assign sub_category_name = sub_category %}
        <li>
          <i class="far fa-folder fa-fw"></i>
          {{ sub_category_name }}
          <!-- posts of subcategory -->
          <ul>
            {% assign posts_of_subcategory = posts_of_category | where_exp: "post", "post.categories[1] == sub_category_name" | sort: "page" %}
            {% for post in posts_of_subcategory %}
              <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
