---
layout: page
# The Category layout
---

{% include lang.html %}

{% assign HEAD_PREFIX = 'h_' %}
{% assign LIST_PREFIX = 'l_' %}

{% assign group_index = 0 %}

<h1>{{page.posts[0].language}}<br></h1>
<div class="post-content">
  <div class="card categories">
    <!-- categories -->
    <ul class="list-unstyled mb-0">
      <div
        id="{{ HEAD_PREFIX }}{{ group_index }}"
        class="card-header d-flex justify-content-between hide-border-bottom"
      >
        <span>
          <i class="far fa-folder-open fa-fw"></i>
          <a class="ml-1 mr-2">{{ page.title }}</a>
        </span>
      </div>
      <!-- posts of category -->
      <ul>
        <div class="card-body">
          {% for post in page.posts %}
            <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
          {% endfor %}
        </div>
      </ul>
    </ul>
  </div>
</div>

