---
layout: page
refactor: true
panel_includes:
  - toc
---

{% include lang.html %}

{% assign page = site.posts | where: "title", "The C Programming Language" | first %}
{% assign content = page.content %}

<div class="post-meta text-muted">

  {% if page.image %}
    {% capture src %}src="{{ page.image.path | default: page.image }}"{% endcapture %}
    {% capture class %}class="preview-img{% if page.image.no_bg %}{{ ' no-bg' }}{% endif %}"{% endcapture %}
    {% capture alt %}alt="{{ page.image.alt | default: "Preview Image" }}"{% endcapture %}

    {% capture lqip %}
      {% if page.image.lqip %}
        lqip="{{ page.image.lqip }}"
      {% endif %}
    {% endcapture %}

    <div class="mt-3 mb-3">
      <img src="{{ page.image.path | default: page.image }}" {{ class }} {{ alt }} w="1200" h="630">
      {%- if page.image.alt -%}
        <figcaption class="text-center pt-2 pb-2">{{ page.image.alt }}</figcaption>
      {%- endif -%}
    </div>
    {{ src }}
  {% endif %}

</div> <!-- .post-meta -->

<div class="post-content">
  {{ content }}
</div>
