---
layout: page
refactor: true
panel_includes:
  - toc
tail_includes:
  - post-nav
---

{% include lang.html %}

<h1 data-toc-skip>{{ page.title }}</h1>

<div class="post-meta text-muted">

  {% if page.image %}
    {% capture src %}src="{{ page.image.path | default: page.image }}"{% endcapture %}
    {% capture class %}class="preview-img{% if page.image.no_bg %}{{ ' no-bg' }}{% endif %}"{% endcapture %}
    {% capture alt %}alt="{{ page.image.alt | default: "Preview Image" }}"{% endcapture %}

    {% capture lqip %}
      {% if page.image.lqip %}
        lqip="{{ page.image.lqip }}"
      {% endif %}
    {% endcapture %}

    <div class="mt-3 mb-3">
      <img {{ src }} {{ class }} {{ alt }} w="1200" h="630" {{ lqip | strip }}>
      {%- if page.image.alt -%}
        <figcaption class="text-center pt-2 pb-2">{{ page.image.alt }}</figcaption>
      {%- endif -%}
    </div>
  {% endif %}

</div> <!-- .post-meta -->

<div class="post-content">
  {{ content }}
</div>

<div class="post-tail-wrapper">

  <!-- categories -->
  {% if page.categories.size > 0 %}
  <div id="topbar" class="container d-flex align-items-center justify-content-between">
    <span id="breadcrumb">
      {% assign paths = page.url | split: '/' %}
      <span>
        <a href="{{ '/' | relative_url }}">
          {{ 'Home' }}
        </a>
      </span>
      {% if page.categories[0] %}
        <span>
          <a href="{{ site.baseurl }}/{{ page.categories[0] | downcase | replace: ' ', '-'}}">
            {{ page.categories[0] }}
          </a>
        </span>
      {% endif %}
      {% if page.categories[1] %}
      <span>
        {{ page.categories[1] }}
      </span>
      {% endif %}
      <span>{{ page.title }}</span>
    </span>

  </div>
  {% endif %}

</div><!-- div.post-tail-wrapper -->
